{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="row container-fluid">

  <div class="col">

      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/dash">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="/home">Users</a></li>
          <li class="breadcrumb-item">Update</li>
         
      </ol>
  </div>
</div>

<div class="row container-fluid mt-4">
  <div class="col-lg-10 ">
    <h3 >Update Form</h3>
    <div class="card">
      
      <div class="card-body ">
        {% if form.errors %}
        <div class="alert alert-danger">
            {% for field in form %}
            {% for error in field.errors %}
            <p>{{ error }}</p>
            {% endfor %}
            {% endfor %}
        </div>
        {% endif %}
        {% if error_message %}
        <div class="alert alert-danger">
            {{ error_message }}
        </div>
        {% endif %}
        <div class="row">
          <div class="col-lg-12">

            <form method="POST" action="{% url 'update_user' form.instance.pk %}" enctype="multipart/form-data">

              {% csrf_token %}

              <div class="form-row mb-3">

                <div class="col-md-4">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" name="name" value="{{ form.name.value|default_if_none:'' }}">
                </div>

               <div class="col-md-4">
                  <label for="mobile">Mobile</label>
                  <input type="text" class="form-control" name="mobile" value="{{ form.mobile.value }}">
              </div>
                <div class="col-md-4">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" name="email"
                    value="{{ form.email.value|default_if_none:'' }}">
                </div>

              </div>


              <div class="form-row mb-3">


                <div class="col-md-4">
                  <label for="doj">Date of Joining</label>
                  <input type="date" class="form-control"
                    name="doj" value="{{ form.doj.value|default_if_none:''|date:'Y-m-d' }}">
                </div>


                <div class="col-md-4">
                  <label for="picture">Profile Picture</label>
                  <input type="file" name="picture" value="{{ form.picture.value|default_if_none:'' }}" class="form-control" >
                </div>


                <div class="col-md-4">
                  <label for="dob">Date of Birth</label>
                  <input type="date" class="form-control" name="dob"
                    value="{{ form.dob.value|default_if_none:''|date:'Y-m-d' }}">
                </div>
              </div>



              <div class="form-row mb-3">

                

                <div class="col-md-6">
                  <label for="c4">City</label>
                  <select class="form-control" name="cityReg" id="cityReg">
                    {% for city in cities %}
                    <option value="{{ city.id }}" {% if city.id == form.cityReg.value %}selected{% endif %}>{{ city.city }}</option>
                    {% endfor %}
                </select>
                </div>

                <div class="col-md-6">
                  <label for="sign_off">Sign Off</label>
                  <input type="file" class="form-control" name="sign_off">
                </div>
              </div>

          

              <div class="form-row mb-3">
              
                <div class="form-group col-md-4">
                  <label for="acc_num">Status</label>
                  <div class="m-b-15">
                      <select class="form-control" name="status">
                          <option value="">Status</option>
                          <option value="Working" {% if form.status.value == 'Working' %}selected{% endif %}>Working</option>
                          <option value="Not Working" {% if form.status.value == 'Not Working' %}selected{% endif %}>Not Working</option>
                          <option value="Under Evaluation" {% if form.status.value == 'Under Evaluation' %}selected{% endif %}>Under Evaluation</option>
                          <option value="Selection In Process" {% if form.status.value == 'Selection In Process' %}selected{% endif %}>Selection In Process</option>
                          <option value="Rejected" {% if form.status.value == 'Rejected' %}selected{% endif %}>Rejected</option>
                          <option value="Selected" {% if form.status.value == 'Selected' %}selected{% endif %}>Selected</option>
                      </select>
                  </div>
              </div>


                <div class="col-md-4">
                  <label for="acc_num">Account Number</label>
                  <input type="text" class="form-control" name="accNnum"
                    value="{{ form.accNnum.value|default_if_none:'' }}">
                </div>
             

              
                <div class="col-md-4">
                  <label for="ifsc">IFSC</label>
                  <input type="text" class="form-control" name="ifsc" value="{{ form.ifsc.value|default_if_none:'' }}">
                </div>
              </div>
            




               
           

              <div class="form-row mb-3">

                <div class="col-md-4">
                  <label for="attested">Aadhar</label>
                  <input type="file" class="form-control" name="aadhar">
                </div>
                <div class=" col-md-4">
                  <label >Aadhar Attested</label>
                  <input type="file" name="aadharAttested" class="form-control" >
                 
                </div>

                <div class="col-md-4">
                  <label for="c4">C4</label>
                  <input type="file" class="form-control" name="c4">
                </div>
                
              </div>

              
              <div class="form-row mb-3">


                <div class="col-md-4">
                  <label for="designation">Designation</label>
                  <select class="form-control" name="designation">
                      
                      <option value="FWP" {% if form.designation.value == 'FWP' %}selected{% endif %}>FWP</option>
                      <option value="Supervisor" {% if form.designation.value == 'Supervisor' %}selected{% endif %}>Supervisor</option>
                      <option value="City Manager" {% if form.designation.value == 'City Manager' %}selected{% endif %}>City Manager</option>
                      <option value="Warehouse Executive" {% if form.designation.value == 'Warehouse Executive' %}selected{% endif %}>Warehouse Executive</option>
                  </select>
              </div>
              


                <div class="col-md-4">
                  <label for="programEnroll">Program Enrollment</label>
                  <select class="form-control" name="programEnroll">
                   
                      <option value="MI" {% if form.programEnroll.value == 'MI' %}selected{% endif %}>MI</option>
                      <option value="NOW" {% if form.programEnroll.value == 'NOW' %}selected{% endif %}>NOW</option>
                      <option value="LAMPS" {% if form.programEnroll.value == 'LAMPS' %}selected{% endif %}>LAMPS</option>
                  </select>
                </div>
              

                <div class="col-md-4">

                  <label for="email">Code</label>
                  <input type="text" value="{{ form.code.value|default_if_none:'' }}" class="form-control" name="code" >
                </div>

              </div>


              <div class="form-row">

                <div class="col-md-4">
                  <label for="dob">C4 Date</label>
                  <input type="date" class="form-control" name="c4Date" value="{{ form.c4Date.value |date:'Y-m-d' }}">
                </div>
              
            
              <div class="col-md-4">
                <label for="dob">C4 Expiry</label>
                <input type="text" name="c4Exp" class="form-control" placeholder="C4 Expiry" 
                  id="mobileInput" value="365" disabled>
                <input type="hidden" name="c4Exp" value="365">
  
              </div>

              <div class="form-group col-md-4">

                      
                <label for="picture">Date Of Leaving</label>
                <i class="prefix-icon anticon anticon-calendar"></i>
                <input type="date"  name='dol' class="form-control" value="{{ form.dol.value|default_if_none:'' }}">

              </div>
            </div>
            
              <div class="row">
                <div class="col-md-12 mt-4 " >
                  <button type="submit" class="btn btn-info btn-lg">Update</button>
                </div>
              </div>
            
          
        
            </form>



          </div>
        </div>
      </div>
    </div>
  </div>
</div
  {% endblock %}